.calc_size {
    max-width: 400px; /*height is automatically fixed*/
    margin: 10vh auto 0 auto; /*vh is the viewpoint height and using auto can center the items*/ 
    box-shadow: 0px 0px 43px 17px powderblue; /*blur effect and rgba(153,153,153,1)*/
}

#screen {
    text-align: right; /*text to the right*/
    height: 75px; /*height of screen*/
    line-height: 75px; /*where the text should start */
    padding: 16px 8px; /*adds gaps */
    font-size: 25px;
    border: 1px solid green; /*green border*/
}

.calc_buttons {
    display: grid; /*displays a grid layout*/
    border-bottom: 1px solid red; 
    border-left: 1px solid#999;
    border-right: 1px solid#999;
    grid-template-columns: 1fr 1fr 1fr 1fr; /*specifying width of columns*/
}

/*giving the calculator highlighted lines*/
.buttons > div {
    border-top: 1px solid #999; /*horizontal*/
    border-right: 1px solid#999; /*vertical*/
}

.button {
    border: 1px solid #999; 
    line-height: 100px; /*height of text (in the middle) */
    text-align: center;
    font-size: 25px;
    cursor: pointer; 
}

#equal {
    color: #009fbb; /*overrides white hover*/
}

.button:hover {
    background-color: #696969;
    color: white;
    transition: 0.5s ease-in-out;
}
